@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;

}

body{
	background:linear-gradient(to bottom, red , white);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.from{
	background: white;
	width: 80%;
	padding: 15px;
	box-shadow: 0 0 30px black;
	border-radius: 10px;
}

h1{
text-align: center;
font-size: 35px;
background: red;
color: white;
border-radius: 5px;
padding: 10px;
}

.link {
	width: 100%;
	height: 60px;
	border: 2px solid black;
	margin-top: 15px;
	text-align: center;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bold;
}

.format{
	width: 100%;
	height: 40px;
	border: 2px solid black;
	margin-top: 15px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 5px;

}

.btn{
	width: 100%;
	height: 60px;
	border: none;
	margin-top: 15px;
	text-align: center;
	background-color: red;
	color: white;
	cursor: pointer;
	font-size: 25px;
	border-radius: 20px;
}
